body{
    margin: 0px;
    font-family: sans-serif, "Verdana", "微軟正黑體";
 }
 header{
    position: fixed;
    top:0px;
    border-bottom: 1px solid #cccccc;
    height: 80px;
    width: 100%;
 }
 a{
    text-decoration:none;
 }
.header_gray{
    background-color:#399403;
    height: 5px;
}
.logo{
    background-image: url("../pic/logo.png");
    background-repeat: no-repeat; 
    height: 80px;
    width: 250px;
    float: left;
}
.menu{
    float: left;
    text-align: center;
    height: 75px;
    width: 90px;
    line-height:80px;
    color: #333;
}

.menu:hover{
    color: #000;
    background-color: #ccf2e0;
    border-radius:10px;
    text-decoration:none;
}
.lang{
    font-size: 14px;
    float: left;
    height: 75px;
    line-height:80px;
    margin-left:10px;
}
.menu_pic{
    width: 100%;
    height: 200px;
}