.child_menu{
    font-size:1.2em;
    border-bottom:1px #ccc solid;
    cursor:pointer;
    text-align: center;
}

.child_menu:hover a{
    color:#177403;
    text-decoration:none;
    background-color: #ccf2e0;
}
.child_menu:hover{
    background-color: #ccf2e0;
}
.little_text{
    font-size:0.8em ;
    color: #999;
}
.child_menu:hover .little_text{
    color: #000;
    
}
legend{
    font-size: 1.4em;
    color:#177403;
    text-align:center;
}
.prodoct_pic{
    text-align:center;
}
a:hover{
    color:#177403;
    text-decoration:none;
}
#price ul {
    list-style-type:square;
}
.displaynone{
    display:none;
}
.center_th{
    text-align: center;
    font-size: 1.2em;
    background-color: #ccf2e0;
}


th{
    text-align: center;
}